[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.18.1"
aiohttp = "==1.0.5"
jinja2 = "==2.8"
cssselect = "==1.0.0"
lxml = "==3.8.0"

[dev-packages]
black = "==18.9b"

[requires]
python_version = "3.6"
